.containerLeft__fishList {
    border: 1px solid grey;
    padding: 0 100px 50px;
    padding-right: 100px;
	padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: #c2e1f0;
    /* flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;
    flex-basis: 85%; */
}

.fishCard {
    border: 2px solid whitesmoke;
    width: 200px;
	background-color: snow;
	margin: 10px;
	height: 200px;
}

.fishCard img {
    height: 100px;
	width: auto;
	object-fit: contain;}
