.containerLeft__fishList {
    border: 1px solid grey;
    padding: 25px 50px;
    padding-right: 100px;
	padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: #C7DBFC;
    width: auto;

}

.fishList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.fishCard {
    border: 2px solid whitesmoke;
    width: auto;
	background-color: snow;
	margin: 10px;
    object-fit: contain;
    max-width: 250px;
    max-height: 325px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: scroll;
    text-overflow: ellipsis;
}

.fishCard img {
    height: 100px;
	width: auto;
    object-fit: contain;
}
