footer {
    /* position: fixed; */
    display: flex;
    background-color: #87b4d8;
    padding: 5px;
}

.contactContainer {
    color: whitesmoke;
    flex: 50%;    
}

.socialContainer {
    color: blanchedalmond;
    flex: 50%;
}