.containerLeft__travelLocations {
    border: 1px solid grey;
    padding: 0 100px 50px;
    padding-right: 100px;
	padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: #b2d5e7;
    /* flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;
    flex-basis: 85%; */
}

.locationCard {
    /* display: flex;
	flex-wrap: wrap;
	padding: 0 100px 50px;
    padding-right: 100px;
    padding-left: 100px; */
    
    border: 2px solid whitesmoke;
    width: auto;
	background-color: snow;
	margin: 10px;
    object-fit: contain;
}

.locationCard img {
    height: 100px;
	width: auto;
	object-fit: contain;}
