.containerLeft__travelLocations {
    border: 2px solid grey;
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-around;
    background-color: #cfe0e8;
    flex-basis: 85%;
}

.locationCard {
    border: 2px solid goldenrod;
    /* flex-direction: column;
    align-items: center;
    flex-basis: 25%; */
    display: flex;
	flex-wrap: wrap;
	padding: 0 100px 50px;
    padding-right: 100px;
	padding-left: 100px;
	
}

.locationCard img {
    width: 25%;
}
